/* Slideshow container */
.slideshow-container {
  max-width: 1200px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.img_slide .prev, .img_slide .next {
  cursor: pointer;
  position: absolute;
  top: 45%;
  width: auto;
  padding: 16px;
  margin-top: 0px;
  color: white;
  font-weight: bold;
  font-size: 40px;
  transition: 0.6s ease;
  border-radius: 3px;
  margin-left:20px;
  background-color: rgba(210,210,210,.3);
}


/* Position the "next button" to the right */
.img_slide .next {
  	right: 20px;
    border-radius: 3px;
	font-size: 40px;
}

/* On hover, add a black background color with a little bit see-through */
.img_slide .prev:hover, .img_slide .next:hover {
  background-color: rgba(0,0,0,0.4);
}

/* Caption text */
.mySlides .text {
  color: black;
  font-size: 22px;
  font-family: "proxima_nova_thin";
  /*position: absolute;*/
  bottom: -50px;
  width: 92%;
  text-align: left;
}
.mySlides .text .title{
	font-family: "proxima_nova_semibold";
	font-size: 22px;
	margin: 10px 0;
}
.mySlides .text .text{
	font-size: 22px;
	font-family: "proxima_nova_thin";
	padding-bottom: 34px;
}
.mySlides .text .text:last-child:after{
	content: url('img/line.png');
	display: block;
    margin-top: 18px;
}

/* Fading animation */
.mySlides .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .8} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .8} 
  to {opacity: 1}
}

@media only screen and (max-device-width : 1024px){
	.slideshow-container .prev, .slideshow-container .next {
		top: 300px;
	}
}
@media only screen and (max-device-width : 768px){
	.slideshow-container .prev, .slideshow-container .next {
		top: 200px;
	}
}
@media only screen and (max-device-width : 425px){
	.slideshow-container .prev, .slideshow-container .next {
		top: 100px;
		margin-left: 0;
	}
	.slideshow-container .next{
		right:0;
	}
}
@media only screen and (max-device-width : 375px){
	.slideshow-container .prev, .slideshow-container .next {
		top: 80px;
		font-size: 20px;
	}
}
@media only screen and (max-device-width : 320px){
	.slideshow-container .prev, .slideshow-container .next {
		top: 60px;
		font-size: 20px;
	}
}